.container {
  margin: 0px 166px;
}

.cart-img {
  height: 69px;
  width: 69px;
  margin-bottom: 7px;
}

.cart {
  background-color: #edbded;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  width: 349px;
  margin-right: 31px;
}
.cart-tittle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color:#43253f;
  font-family: 'Tinos', serif;
  font-size: 22px;
  font-weight: 400;
}


.cart-image {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.carts-holder {
  display: flex;
  justify-content: center;
}

.cart-desc {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  color:#4a3747;
  font-family: 'Tinos', serif;
  font-size: 18px;
  font-weight: 400; 
}

.history {
  margin-top: 100px;
  margin-left: 18px;
  margin-right: 18px;
  display: flex;
  justify-content:center;
  padding-bottom: 120px;
}
.history-tittle {
  color:#462b42;
  font-family: 'Tinos', serif;
  font-size: 48px;
  font-weight: 400;
  width: 850px;
  text-align: center;
  margin-bottom: 18px;
}

.history-tittle span, .flowers-title span {
  color: #b854a5;
}

.history-desc {
  color: #4a3747;
  size: 16px;
  width: 850px;
  text-align: center;
}


.left-tittle {
  color:#462b42;
  font-family: 'Tinos', serif;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 12px;
}

.left-text {
  font-weight: 700;
  font-size: 16px;
  color: #b854a5;
}

.left {
  margin-left: 125px;
}

.right-btn {
  margin-right: 220px;
  background-color: #edbded;
  color: #2b262a;
  text-decoration: none;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.2s linear;
}

.right-btn:hover {
  background-color: #d67dc5;
  color: #f4ddf0;
}

.block-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flowers-title {
  color:#462b42;
  font-family: 'Tinos', serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding-top: 123px;
  margin-bottom: 99px;
}

.buket{
  height: 427px;
  width: 422px;
}

.tulpan {
  height: 125px;
  width: 125px;
}

.tulpans {
  display: flex;
  justify-content: center;
}

.tulpan-item {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.tulpans-image {
  margin-right: 30px;
}

.tulpan-text {
  color:#462b42;
  font-family: 'Tinos', serif;
  font-size: 24px;
  margin-left: 20px;
}


@media (max-width: 1199px){
}