.container {
  margin: 0px 166px;
}

.cart-img {
  height: 69px;
  width: 69px;
  margin-bottom: 7px;
}

.cart {
  background-color: #edbded;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  width: 349px;
  margin-right: 31px;
}
.cart-tittle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color:#43253f;
  font-family: 'Tinos', serif;
  font-size: 22px;
  font-weight: 400;
}


.cart-image {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.carts-holder {
  display: flex;
  justify-content: center;
}

.cart-desc {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  color:#4a3747;
  font-family: 'Tinos', serif;
  font-size: 18px;
  font-weight: 400;
  
}