.container {
  margin: 0px 166px;
}

/*header{
  margin-bottom: 80px;
}*/

.menu {
  padding-bottom: 100px;
}
.menu-tittle {
  color:#462b42;
  font-family: 'Tinos', serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.menu-tittle span {
  color: #b854a5;
}
.menu-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.menu-item {
  background-color: #edbded;
  text-align: center;
  width: 349px;
  padding-top: 28px;
  padding-bottom: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  margin-bottom: 20px;
}

.menu-text {
  color:#43253f;
  font-family: 'Tinos', serif;
  font-size: 24px;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 15px;
}

.menu-subtext {
  color:#4a3747;
  font-family: 'Tinos', serif;
  font-size: 16px;
  font-weight: 400;
}

.menu-btn {
  background-color: #d67dc5;
  color: #f4ddf0;
  text-decoration: none;
  padding: 14px 36px;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.2s linear;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.menu-btn:hover {
  background-color: #c06fb1;
}

.menu-button {
  margin-top: 20px;
}

.price-img {
  height: 75px;
  width: 75px;
  position: absolute;
  bottom: 21px;
  right: 42px;
}

.menu-image {
  position: relative;
}

.price-420 {
  color:#462b42;
  font-size: 18px;
  position: absolute;
  bottom: 45px;
  right: 64px;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.modalDialog {
	position: fixed;
  color: #462b42;
  text-align: center;
  font-size: 18px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 404px;
	position: relative;
	margin: 19% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #edbded;
}

.close {
	background-color: #d67dc5;
  color: #2b262a;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
  font-size: 12px;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background-color: #a70686;
  color: #f4ddf0;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .menu-img {
    height: 270px;
    width: 270px;
  }
}

@media (max-width: 992px) {
.menu-img {
  height: 250px;
  width: 250px;
}
  .menu-items {
    text-align: center;
    display: block;
    
}
  .menu-item {
    margin-left: 145px;
    margin-bottom: 36px;
  }
  .menu-tittle{
   margin-bottom: -20px;
}
}



 