.container {
  margin: 0px 166px;
}

.contact {
  padding-bottom: 100px;
}


.form-group input, .form-group textarea {
  width: 50%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #462b42;
  color: #2f2f30;
  padding: 15px 0 10px 5px;
  outline: none;
  font-family: 'Tinos', serif;
  font-size: 18px;
}

.form-group > textarea {
  flex: 2;
}

.form-group {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.form-group > label {
  flex: 1;
}

.form-group > input {
  flex: 2;
}
.form label {
  /*padding-left: 100px;*/
  margin-right: 15px;
  font-size: 24px;
  font-family: 'Tinos', serif;
}

.row {
  padding: 20px 40px;
}
.form {
  background-color: #edbded;
  /*text-align:left;*/
  margin: 10px 150px;
}

.head {
  color:#462b42;
  font-family: 'Tinos', serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 75px;
}

.head span {
  color: #b854a5;
}

.form-btn {
  background-color: #d67dc5;
  color: #f4ddf0;
  text-decoration: none;
  padding: 14px 36px;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.2s linear;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.form-btn:hover {
  background-color: #c06fb1;
}

.form-button {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}



.modalDialog {
	position: fixed;
  color: #462b42;
  text-align: center;
  font-size: 18px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #edbded;
	background: -moz-linear-gradient(#edbded, #999);
	background: -webkit-linear-gradient(#edbded, #999);
	background: -o-linear-gradient(#edbded, #999);
}

.close {
	background-color: #d67dc5;
  color: #2b262a;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
  font-size: 12px;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background-color: #a70686;
  color: #f4ddf0;
}
