body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ebe0eb;
  height: 100vh;
  background-size: cover;
}


.header-logo img {
  width: 95px;
  height: 95px;
}

.container1 {
  margin: 0px 166px;
  position: relative;
}

.container {
  margin: 0px 166px;
}

.hamburger-menu {
  display: none;
}

.card img {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 10px;
  right: 20px;

}

.phone-img img {
  width: 30px;
  height: 30px;
}

.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: #2b262a;
  text-decoration: none;
  font-size: 14px;
  margin-right: 25px;
  font-weight: 700;
  transition: color 0.2s linear;
}

.nav-item1 {
  color: #d67dc5;
  text-decoration: none;
  font-size: 14px;
  margin-right: 25px;
  font-weight: 700;
}

.card {
  border-right: 1px solid #2b262a;
  padding-right: 12px;
  padding-left: 7px;
  height: 50px;
  position: relative;
}

.num {
  color: #2b262a;
  text-decoration: none;
  font-weight: 700;
  padding-left: 5px;
  transition: color 0.2s linear;
}

.num:hover {
  color: #a70686;
}

.phone-text {
  font-size: 14px;
  font-weight: 700;
  color: #2b262a;
}

.phone-holder {
  display: flex;
  align-items: center;
  text-align: center;
}

.phone-text {
  padding-left: 15px;
}

.button {
  background-color: #edbded;
  color: #2b262a;
  text-decoration: none;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.2s linear;
}

.nav-item:hover {
  color: #a70686;
}

.button:hover, .header-button:hover {
  background-color: #d67dc5;
  color: #f4ddf0;
}

  
.header-title {
  color:#462b42;
  font-family: 'Tinos', serif;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  display: block;
  margin-right: 20px;
  margin-top: 136px;
  margin-bottom: 14px;
}

.header-suptitle {
  color: #b854a5;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}


.header-button {
  background-color: #edbded;
  color: #2b262a;
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  transition: color 0.2s linear;
}


.bouquets img {
  height: 400px;
  width: 425px;
 /* border-radius: 28px;*/
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  opacity: 0.9;
}

.header-info {
  display: flex;
  justify-content:center;
  margin-right: 15px;
  margin-left: 15px;
  /*width: 100%*/
}


.header-box {
  display: flex;
  justify-content:center;
  margin-bottom: 50px;
  margin-top: 30px;
}



#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items:flex-end;
  position: absolute;
  top: 69px;
  right: 10px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #2b262a;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 75px;
  right: 0;
  width: 200px;
  margin: 0;
  text-align: left;
  padding-bottom: 50px;
  padding-top: 50px;
  list-style: none;
  background-color: #ebe0eb;;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 20px;
  color: #2b262a;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #edbded;
}

@media (max-width: 992px) {
  .header-logo {
    position: absolute;
    left: 0px;
    top: 49px;
  }

  .header-logo img {
    height: 85px;
    width: 85px;
  }

  .nav, .card, .btn {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }

}
@media (max-width: 1300px)  {
   .phone {
    display:none;
  }
}

@media (max-width: 1199px){
  
  .header-title {
    margin-top: 85px;
    margin-bottom: 40px;
    
  }

  .bouquets {
    display: none;
  }

}



@media (min-width: 320px) 
{
  .header-title {
    margin-right: -3px;
}
  }